[submodule "otawa"]
	path = otawa
	url = https://github.com/jordr/otawa
[submodule "otawa-tricore"]
	path = otawa-tricore
	url = https://github.com/hcasse/otawa-tricore.git
[submodule "otawa-TC275T"]
	path = otawa-TC275T
	url = https://github.com/hcasse/otawa-TC275T.git
[submodule "elm"]
	path = elm
	url = https://github.com/jordr/elm
[submodule "thot"]
	path = thot
	url = https://github.com/hcasse/Thot.git
[submodule "frontc"]
	path = frontc
	url = https://github.com/jordr/frontc
[submodule "orange"]
	path = orange
	url = https://github.com/jordr/orange
[submodule "gliss2/gliss2"]
	path = gliss2/gliss2
	url = https://github.com/jordr/gliss2
[submodule "gliss2/riscv"]
	path = gliss2/riscv
	url = https://github.com/jordr/riscv
[submodule "otawa-riscv"]
	path = otawa-riscv
	url = https://github.com/jordr/otawa-riscv.git
